html,
body,
#root {
  width: 100%; 
 height: 100%;

}
#root{
    /* position:fixed ; */
    background-color:black;
    background-image: url("./bg.jpg");
    background-size: cover;
}
.text{
  -webkit-text-stroke: 2px black;
  color: white;
}
